<form name="batchForm" novalidate>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group form-group-sm" ng-class="{'has-error': batchForm.product.$dirty && batchForm.product.$error.required}">
                        <label class="control-label mandatory">Producto</label>
                        <input type="text" class="form-control" name="product" ng-model="form.product" bs-options="product as product.name for product in form.products" bs-typeahead placeholder="Ingrese el nombre del producto a cargar" required>
                        <span ng-show="batchForm.product.$dirty && batchForm.product.$error.required" class="help-block">Este campo es obligatorio</span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group form-group-sm" ng-class="{'has-error': batchForm.cost.$dirty && batchForm.cost.$error.required}">
                        <label class="control-label mandatory">Costo sin IVA</label>
                        <input type="number" class="form-control" name="cost" ng-model="form.product.cost" ng-change="updateUnitPrice()" required min="0" onkeypress="return this.value.length < 12 && event.charCode >= 46 && event.charCode <= 57">
                        <span ng-show="batchForm.cost.$dirty && batchForm.cost.$error.required" class="help-block">Este campo es obligatorio</span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group form-group-sm" ng-class="{'has-error': batchForm.iva.$dirty && batchForm.iva.$error.required}">
                        <label class="control-label mandatory">IVA</label>
                        <select class="form-control" name="iva" ng-model="form.product.iva" ng-options="iva.value as iva.name for iva in form.ivas" required ng-change="updateUnitPrice()"></select>
                        <span ng-show="batchForm.iva.$dirty && batchForm.iva.$error.required" class="help-block">Este campo es obligatorio</span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group form-group-sm" ng-class="{'has-error': batchForm.utility.$dirty && batchForm.utility.$error.required}">
                        <label class="control-label mandatory">Utilidad</label>
                        <input type="number" class="form-control" name="utility" ng-model="form.product.utility" ng-change="updateUnitPrice()" required min="0" onkeypress="return this.value.length < 12 && event.charCode >= 46 && event.charCode <= 57">
                        <span ng-show="batchForm.utility.$dirty && batchForm.utility.$error.required" class="help-block">Este campo es obligatorio</span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group form-group-sm" ng-class="{'has-error': batchForm.unitPrice.$dirty && batchForm.unitPrice.$error.required}">
                        <label class="control-label mandatory">Precio unitario</label>
                        <input type="number" class="form-control" name="unitPrice" ng-model="form.product.unitPrice" ng-change="updateUtility()" required min="0" onkeypress="return this.value.length < 12 && event.charCode >= 46 && event.charCode <= 57">
                        <span ng-show="batchForm.unitPrice.$dirty && batchForm.unitPrice.$error.required" class="help-block">Este campo es obligatorio</span>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Ingresar o editar lote</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-group-sm">
                                <label class="control-label">Fecha de vencimiento</label>
                                <input type="text" class="form-control" ng-model="form.batch.isoDueDate" bs-datepicker>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-group-sm">
                                <label class="control-label">Cantidad</label>
                                <input type="number" class="form-control" name="stock" ng-model="form.batch.stock">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <button type="button" ng-click="addBatchToTableAction()" ng-disabled="form.product.batches == null || form.batch.stock == null" class="btn btn-sm btn-info" style="margin-top:23px;"><i class="fa fa-save"></i> Guardar lote</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-md-offset-1">
                    <h4>Lotes</h4>
                    <table class="table table-bordered table-main">
                        <tr>
                            <th class="col-xs-6">Fecha de vencimiento</th>
                            <th class="col-xs-6">Cantidad</th>
                            <th></th>
                        </tr>
                        <tr ng-repeat="batch in form.product.batches">
                            <td ng-if="batch.id == null">
                                <span ng-if="batch.isoDueDate == null">Sin vencimiento</span>
                                <span ng-if="batch.isoDueDate != null">{{ isoDateToFormattedString(batch.isoDueDate) }}</span>
                            </td>
                            <td ng-if="batch.id == null">{{batch.stock}}</td>
                            <td ng-if="batch.id == null" class="table-cell-actions">
                                <button ng-click="editBatchFromTableAction(batch)" class="btn btn-sm btn-info" data-title="Editar" bs-tooltip><i class="fa fa-pencil"></i></button>
                                <button ng-click="removeBatchToTableAction(batch)" class="btn btn-sm btn-info" data-title="Quitar" bs-tooltip><i class="fa fa-close"></i></button>
                            </td>
                        </tr>
                        <tr ng-if="thereArentBatchesToShow()">
                            <td colspan="3" class="table-cell-empty">No hay lotes para mostrar</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="text-right">
                <a ng-href="batches/bulk_update" class="btn btn-icon btn-danger"><i class="fa fa-close"></i>Cancelar</a>
                <button type="button" ng-click="saveBatchesAction(batchForm)" class="btn btn-icon btn-primary" ng-disabled="isSaveButtonDisabled()"><i class="fa fa-floppy-o"></i>Guardar</button>
            </div>
        </div>
    </div>
</form>