<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" ng-show="title">
                <div class="modal-title" ng-bind="title"></div>
            </div>
            <div class="modal-body">
            	<div class="row">
            		<div class="col-md-12">
	            		<div class="form-group form-group-sm">
	                        <input type="text" class="form-control" name="product" ng-model="form.searchProductModal.product" onkeypress="return this.value.length < 100" bs-options="product as product.name for product in form.products" bs-typeahead placeholder="Ingrese el nombre del producto a vender">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                         <div ng-if="form.searchProductModal.product.batches.length > 0">
                            <label class="control-label">Ingrese la cantidad a vender de cada lote disponible:</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-bordered table-hover table-main">
                            <tr>
                                <th class="col-xs-6">Lote</th>
                                <th class="col-xs-3">Stock</th>
                                <th class="col-xs-3">Cant. a vender</th>
                            </tr>
                            <tr ng-repeat="batch in form.searchProductModal.product.batches">
                                <td class="table-cell-input">
                                    <span ng-if="batch.isoDueDate == null">Sin vencimiento</span>
                                    <span ng-if="batch.isoDueDate != null">{{isoDateToFormattedString(batch.isoDueDate)}}</span>
                                </td>
                                <td class="table-cell-input">{{ batch.stock + ' ' + form.searchProductModal.product.measureUnit.abbreviation }}</td>
                                <td class="table-cell-input">
                                    <input type="number" class="form-control text-right" name="discount-{{batch.id}}" ng-model="form.searchProductModal.product.batches[$index].unitsToSell" ng-init="initializeUnitsToSell($index)">
                                </td>
                            </tr>
                            <tr ng-if="form.searchProductModal.product.batches.length == 0">
                                <td colspan="5" class="table-cell-empty">El producto que seleccionaste no tiene lotes con stock disponible.</td>
                            </tr>
                            <tr ng-if="form.searchProductModal.product == null">
                                <td colspan="5" class="table-cell-empty">Seleccioná un producto para elegir la cantidad de cada lote a vender.</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-icon btn-danger" ng-click="cancelProductSearchModal()">Cancelar</button>
				<button type="button" class="btn btn-icon btn-primary" ng-click="acceptProductSearchModal()">Aceptar</button>
            </div>
        </div>
    </div>
</div>