<form ng-submit="saveClientAction(clientForm)" name="clientForm" novalidate>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group form-group-sm" ng-class="{'has-error': clientForm.clientType.$dirty && clientForm.clientType.$error.required}">
                        <label class="control-label mandatory">Tipo</label>
                        <select class="form-control" name="clientType" ng-model="form.client.clientType" required>
                            <option value="1" selected="selected">Persona física</option>
                            <option value="2">Persona legal</option>
                        </select>
                        <span ng-show="clientForm.clientType.$dirty && clientForm.clientType.$error.required" class="help-block">Este campo es obligatorio</span>
                    </div>
                </div>
                <div ng-if="form.client.clientType == 1">
                    <div class="col-md-4">
                        <div class="form-group form-group-sm" ng-class="{'has-error': clientForm.name.$dirty && clientForm.name.$error.required}">
                            <label class="control-label mandatory">Nombre</label>
                            <input type="text" class="form-control" name="name" ng-model="form.client.name" required>
                            <span ng-show="clientForm.name.$dirty && clientForm.name.$error.required" class="help-block">Este campo es obligatorio</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group form-group-sm" ng-class="{'has-error': clientForm.lastname.$dirty && clientForm.lastname.$error.required}">
                            <label class="control-label mandatory">Apellido</label>
                            <input type="text" class="form-control" name="lastName" ng-model="form.client.lastName" required>
                            <span ng-show="clientForm.lastName.$dirty && clientForm.lastName.$error.required" class="help-block">Este campo es obligatorio</span>
                        </div>
                    </div>
                </div>
                <div ng-if="form.client.clientType == 2">
                    <div class="col-md-4">
                        <div class="form-group form-group-sm" ng-class="{'has-error': clientForm.name.$dirty && clientForm.name.$error.required}">
                            <label class="control-label mandatory">Razón Social</label>
                            <input type="text" class="form-control" name="name" ng-model="form.client.name" required>
                            <span ng-show="clientForm.name.$dirty && clientForm.name.$error.required" class="help-block">Este campo es obligatorio</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group form-group-sm">
                            <label class="control-label">CUIT</label>
                            <input type="text" class="form-control" name="cuit" ng-model="form.client.cuit" >
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group form-group-sm">
                        <label class="control-label">Dirección</label>
                        <input type="text" class="form-control" name="address" ng-model="form.client.address">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group form-group-sm">
                        <label class="control-label">Código Postal</label>
                        <input type="text" class="form-control" name="zipCode" ng-model="form.client.zipCode">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group form-group-sm">
                        <label class="control-label">Teléfono</label>
                        <input type="text" class="form-control" name="phone" ng-model="form.client.phone">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group form-group-sm">
                        <label class="control-label">Celular</label>
                        <input type="text" class="form-control" name="mobile" ng-model="form.client.mobilephone">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group form-group-sm">
                        <label class="control-label">Email</label>
                        <input type="email" class="form-control" name="email" ng-model="form.client.email">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div ng-if="form.client.clientType == 2">
                        <div class="form-group form-group-sm">
                            <label class="control-label">Renspa</label>
                            <select class="form-control" name="renspa" ng-model="form.client.renspa" required></select>
                        </div>
                    </div>
                </div>          
            </div>

            <div class="panel-footer">
                <div class="text-right">
                    <a ng-href="clients" class="btn btn-icon btn-danger"><i class="fa fa-close"></i>Cancelar</a>
                    <button type="submit" class="btn btn-icon btn-primary"><i class="fa fa-floppy-o"></i>Guardar</button>
                </div>
            </div>
        </div>
</form>