<div class="panel panel-default">
    <div class="panel-body">
        <div class="action-buttons">
            <a ng-href="clients/add" class="btn btn-icon btn-info"><i class="fa fa-plus"></i>Agregar</a>
        </div>
        <div class="form-group form-group-sm">
            <div class="input-group input-group-sm">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control" name="search" ng-model="table.search" placeholder="Ingrese una búsqueda">
            </div>
        </div>
        <table class="table table-bordered table-hover table-main">
            <tr>
                <th class="col-xs-4">Cliente</th>
                <th class="col-xs-4">Dirección</th>
                <th class="col-xs-3">Celular</th>
                <th class="col-xs-1"></th>
            </tr>
            <tr dir-paginate="client in filtered = (clients | filter: table.search | itemsPerPage: table.pageSize)">
                <td class="table-cell-detail">
                    <div><a ng-href="clients/detail/{{client.id}}" class="text-important"> {{client.cuit ? client.name : client.name + ' ' +client.lastName}}</a></div>
                    <div>{{client.cuit ? client.cuit : ''}}</div>
                </td>

                <td class="table-cell-detail">
                    <div>{{client.address ? client.address : ''}}</div>
                </td>
                <td class="table-cell-detail">
                    <div>{{client.mobilePhone ? client.mobilePhone : ''}}</div>
                </td>
                <td class="table-cell-actions">
                    <a ng-href="clients/edit/{{client.id}}" class="btn btn-sm btn-info" data-title="Editar" bs-tooltip><i class="fa fa-pencil"></i></a>
                    <button ng-click="removeClientAction(client.id)" class="btn btn-sm btn-info" data-title="Borrar" bs-tooltip><i class="fa fa-trash"></i></button>
                </td>
            </tr>
            <tr ng-if="clients.length == 0 || filtered.length == 0">
                <td colspan="4" class="table-cell-empty">No hay clientes para mostrar</td>
            </tr>
        </table>
        <div class="table-pagination">
            <div dir-pagination-controls boundary-links="true"></div>
        </div>
    </div>
</div>