<div class="panel panel-default">
    <div class="panel-body">
        <div class="action-buttons">
            <a ng-href="suppliers/add" class="btn btn-icon btn-info"><i class="fa fa-plus"></i>Agregar</a>
        </div>
        <div class="form-group form-group-sm">
            <div class="input-group input-group-sm">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control" name="search" ng-model="table.search" placeholder="Ingrese una búsqueda">
            </div>
        </div>
        <table class="table table-bordered table-hover table-main">
            <tr>
                <th class="col-xs-11">Proveedor</th>
                <th class="col-xs-1"></th>
            </tr>
            <tr dir-paginate="supplier in filtered = (suppliers | filter: table.search | itemsPerPage: table.pageSize)">
                <td class="table-cell-detail">
                    <div class="text-important">{{supplier.name}}</div>
                    <div>{{supplier.cuit}}</div>
                </td>
                <td class="table-cell-actions">
                    <a ng-href="suppliers/edit/{{supplier.id}}" class="btn btn-sm btn-info" data-title="Editar" bs-tooltip><i class="fa fa-pencil"></i></a>
                    <button ng-click="removeSupplierAction(supplier.id)" class="btn btn-sm btn-info" data-title="Borrar" bs-tooltip><i class="fa fa-trash"></i></button>
                </td>
            </tr>
            <tr ng-if="suppliers.length == 0 || filtered.length == 0">
                <td colspan="2" class="table-cell-empty">No hay proveedores para mostrar</td>
            </tr>
        </table>
        <div class="table-pagination">
            <div dir-pagination-controls boundary-links="true"></div>
        </div>
    </div>
</div>