<div class="list-group">
    <a ng-href="sales" class="list-group-item" ng-class="{'active': layout.activeSidebarOption == 'sale'}" data-title="Ventas" data-placement="right" data-bs-enabled="layout.isMiniSidebar" bs-tooltip>
        <i class="fa fa-shopping-cart"></i><span>Ventas</span>
    </a>
    <a ng-href="products" class="list-group-item" ng-class="{'active': layout.activeSidebarOption == 'product'}" data-title="Productos" data-placement="right" data-bs-enabled="layout.isMiniSidebar" bs-tooltip>
        <i class="fa fa-industry"></i><span>Productos</span>
    </a>
    <a ng-href="clients" class="list-group-item" ng-class="{'active': layout.activeSidebarOption == 'client'}" data-title="Clientes" data-placement="right" data-bs-enabled="layout.isMiniSidebar" bs-tooltip>
        <i class="fa fa-users"></i><span>Clientes</span>
    </a>
    <a ng-href="suppliers" class="list-group-item" ng-class="{'active': layout.activeSidebarOption == 'supplier'}" data-title="Proveedores" data-placement="right" data-bs-enabled="layout.isMiniSidebar" bs-tooltip>
        <i class="fa fa-truck"></i><span>Proveedores</span>
    </a>
    <a ng-href="settlements" class="list-group-item" ng-class="{'active': layout.activeSidebarOption == 'settlement'}" data-title="CuentaCorriente" data-placement="right" data-bs-enabled="layout.isMiniSidebar" bs-tooltip>
        <i class="fa fa-credit-card"></i><span>Cuenta Corriente</span>
    </a>
    <a ng-href="reports/clients-in-debt" class="list-group-item" ng-class="{'active': layout.activeSidebarOption == 'reportClientInDebt'}" data-title="Deudores" data-placement="right" data-bs-enabled="layout.isMiniSidebar" bs-tooltip>
        <i class="fa fa-credit-card"></i><span>Deudores</span>
    </a>
    <a ng-href="reports" class="list-group-item" ng-class="{'active': layout.activeSidebarOption == 'reports'}" data-title="Reportes" data-placement="right" data-bs-enabled="layout.isMiniSidebar" bs-tooltip>
        <i class="fa fa-credit-card"></i><span>Reportes</span>
    </a>
</div>