<div class="list-group">
    <!-- <a ng-href="dashboard" class="list-group-item" ng-class="{'active': layout.activeSidebarOption == 'dashboard'}" data-title="Dashboard" data-placement="right" data-bs-enabled="layout.isMiniSidebar" bs-tooltip>
        <i class="fa fa-dashboard"></i><span>Dashboard</span>
    </a>  -->
    <a ng-href="products" class="list-group-item" ng-class="{'active': layout.activeSidebarOption == 'product'}" data-title="Productos" data-placement="right" data-bs-enabled="layout.isMiniSidebar" bs-tooltip>
        <i class="fa fa-industry"></i><span>Productos</span>
    </a>
    <a ng-href="clients" class="list-group-item" ng-class="{'active': layout.activeSidebarOption == 'client'}" data-title="Clientes" data-placement="right" data-bs-enabled="layout.isMiniSidebar" bs-tooltip>
        <i class="fa fa-credit-card"></i><span>Clientes</span>
    </a>
    <a ng-href="suppliers" class="list-group-item" ng-class="{'active': layout.activeSidebarOption == 'supplier'}" data-title="Proveedores" data-placement="right" data-bs-enabled="layout.isMiniSidebar" bs-tooltip>
        <i class="fa fa-truck"></i><span>Proveedores</span>
    </a>
    <a ng-href="sales" class="list-group-item" ng-class="{'active': layout.activeSidebarOption == 'sale'}" data-title="Ventas" data-placement="right" data-bs-enabled="layout.isMiniSidebar" bs-tooltip>
        <i class="fa fa-truck"></i><span>Ventas</span>
    </a>
</div>