<form ng-submit="saveProductAction(productForm)" name="productForm" novalidate>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-9">
                    <div class="form-group form-group-sm" ng-class="{'has-error': productForm.name.$dirty && productForm.name.$error.required}">
                        <label class="control-label mandatory">Nombre</label>
                        <input type="text" class="form-control" name="name" ng-model="form.product.name" required>
                        <span ng-show="productForm.name.$dirty && productForm.name.$error.required" class="help-block">Este campo es obligatorio</span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group form-group-sm" ng-class="{'has-error': productForm.measureUnit.$dirty && productForm.measureUnit.$error.required}">
                        <label class="control-label mandatory">Unidad de medida</label>
                        <select class="form-control" name="measureUnit" ng-model="form.product.measureUnit" ng-options="measureUnit as measureUnit.name for measureUnit in form.measureUnits"></select>
                        <span ng-show="productForm.measureUnit.$dirty && productForm.measureUnit.$error.required" class="help-block">Este campo es obligatorio</span>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group form-group-sm">
                        <label class="control-label">Descripción</label>
                        <textarea class="form-control" name="description" ng-model="form.product.description"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group form-group-sm">
                        <label class="control-label">Categoría</label>
                        <input type="text" class="form-control" name="category" ng-model="form.product.category" ng-change="addFormDropdownValue('category')" bs-options="category as category.name for category in form.categories" bs-typeahead>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group form-group-sm">
                        <label class="control-label">Laboratorio</label>
                        <input type="text" class="form-control" name="manufacturer" ng-model="form.product.manufacturer" ng-change="addFormDropdownValue('manufacturer')" bs-options="manufacturer as manufacturer.name for manufacturer in form.manufacturers" bs-typeahead>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group form-group-sm">
                        <label class="control-label">Droga</label>
                        <input type="text" class="form-control" name="drug" ng-model="form.product.drug" ng-change="addFormDropdownValue('drug')" bs-options="drug as drug.name for drug in form.drugs" bs-typeahead>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group form-group-sm">
                        <label class="control-label">Presentación</label>
                        <select class="form-control" name="presentation" ng-model="form.product.presentation" ng-options="presentation as presentation.name for presentation in form.presentations"></select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group form-group-sm">
                        <label class="control-label">Proveedor</label>
                        <select class="form-control" name="supplier" ng-model="form.product.supplier" ng-options="supplier as supplier.name for supplier in form.suppliers track by supplier.id"></select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group form-group-sm">
                        <label class="control-label">IVA</label>
                        <select class="form-control" name="iva" ng-model="form.product.iva" ng-options="iva.value as iva.name for iva in form.ivas"></select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group form-group-sm">
                        <label class="control-label">Costo</label>
                        <input type="number" class="form-control" name="cost" ng-model="form.product.cost">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group form-group-sm">
                        <label class="control-label">Utilidad</label>
                        <input type="number" class="form-control" name="utility" ng-model="form.product.utility">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group form-group-sm">
                        <label class="control-label">Precio unitario</label>
                        <input type="number" class="form-control" name="unitPrice" ng-model="form.product.unitPrice">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group form-group-sm">
                        <label class="control-label">Stock mínimo</label>
                        <input type="number" class="form-control" name="minimumStock" ng-model="form.product.minimumStock">
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="text-right">
                <a ng-href="products" class="btn btn-icon btn-danger"><i class="fa fa-close"></i>Cancelar</a>
                <button type="submit" class="btn btn-icon btn-primary"><i class="fa fa-floppy-o"></i>Guardar</button>
            </div>
        </div>
    </div>
</form>