<form ng-submit="getBatchesByDueDateAction(reportForm)" name="reportForm" novalidate>
    <div class="panel panel-default">
        <div class="panel-body">
        	<div class="row">
                <div class="col-xs-12">
                    <label class="control-label">Especifique los parámetros de búsqueda.</label>
                </div>
            </div>
            <div class="row">
            	<div class="col-md-6">
                    <div class="form-group form-group-sm" >
                        <label class="control-label mandatory">Fecha de Inicio</label>
                        <input type="text" name="beginDate" class="form-control" ng-model="form.reportForm.beginDate" bs-datepicker>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group form-group-sm" ng-class="{'has-error': form.reportForm.days.$dirty && form.reportForm.days.$error.required}">
                        <label class="control-label mandatory">Cantidad de días</label>
                        <input type="number" class="form-control" name="days" ng-model="form.reportForm.days" onkeypress="return this.value.length < 100" required>
                        <span ng-show="form.reportForm.days.$dirty && form.reportForm.days.$error.required" class="help-block">Este campo es obligatorio</span>
                    </div>
                </div>
            </div>
            
        <div class="panel-footer">
            <div class="text-right">
                <button type="submit" class="btn btn-icon btn-primary"><i class="fa fa-table"></i>Buscar</button>
            </div>
        </div>
    </div>
</form>