<div class="panel panel-default">
    <div class="panel-body">
        <div class="action-buttons">
            <a ng-href="products/add" class="btn btn-icon btn-info"><i class="fa fa-plus"></i>Agregar</a>
            <a ng-href="products/stock" class="btn btn-icon btn-info"><i class="fa fa-cube"></i>Actualizar stock</a>
        </div>
        <div class="form-group form-group-sm">
            <div class="input-group input-group-sm">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control" name="search" ng-model="table.search" placeholder="Ingrese una búsqueda">
            </div>
        </div>
        <table class="table table-bordered table-hover table-main">
            <tr>
                <th class="col-xs-6">Producto</th>
                <th class="col-xs-3">Detalles</th>
                <th class="col-xs-2">Precio</th>
                <th class="col-xs-1"></th>
            </tr>
            <tr dir-paginate="product in filtered = (products | filter: table.search | itemsPerPage: table.pageSize)">
                <td class="table-cell-detail">
                    <div><a ng-href="products/detail/{{product.id}}" class="text-important">{{product.name}}</a><i class="fa fa-angle-right text-separator"></i><span class="text-info">{{product.category.name ? product.category.name : 'Sin categoría'}}</span></div>
                    <div>{{product.description ? product.description : 'Sin descripción'}}</div>
                </td>
                <td class="table-cell-detail">
                    <div class="text-icon"><i class="fa fa-industry"></i>{{product.manufacturer.name ? product.manufacturer.name : 'No especificado'}}</div>
                    <div class="text-icon"><i class="fa fa-eyedropper"></i>{{product.drug.name ? product.drug.name : 'No especificado'}}</div>
                </td>
                <td class="table-cell-number">{{product.unitPrice|currency}}</td>
                <td class="table-cell-actions">
                    <a ng-href="products/edit/{{product.id}}" class="btn btn-sm btn-info" data-title="Editar" bs-tooltip><i class="fa fa-pencil"></i></a>
                    <button ng-click="removeProductAction(product.id)" class="btn btn-sm btn-info" data-title="Borrar" bs-tooltip><i class="fa fa-trash"></i></button>
                </td>
            </tr>
            <tr ng-if="products.length == 0 || filtered.length == 0">
                <td colspan="4" class="table-cell-empty">No hay productos para mostrar</td>
            </tr>
        </table>
        <div class="table-pagination">
            <div dir-pagination-controls boundary-links="true"></div>
        </div>
    </div>
</div>
