<div class="panel panel-default">
    <div class="panel-body">
        <table class="table table-bordered table-hover">
            <tr>
                <th>Nombre</th>
                <th>Laboratorio</th>
                <th>Presentación</th>
                <th>Categoría</th>
            </tr>
            <tr ng-repeat="product in products">
                <td>{{product.name}}</td>
                <td>{{product.manufacturer}}</td>
                <td>{{product.presentation}}</td>
                <td>{{product.category}}</td>
            </tr>
        </table>
    </div>
</div>