<div class="panel panel-default">
    <div class="panel-body">
        <div class="action-buttons">
            <a ng-href="products/add" class="btn btn-icon btn-default"><i class="fa fa-plus"></i>Agregar</a>
            <a ng-href="products/edit/50" class="btn btn-icon btn-info"><i class="fa fa-pencil"></i>Editar (id = 50 para testear)</a>
            <button ng-click="removeProductAction(50)" class="btn btn-icon btn-info"><i class="fa fa-trash"></i>Borrar (id = 50 para testear)</button>
        </div>
    </div>
</div>